.container-fluid{
    margin: 0; padding: 0;
    font-family: 'Open Sans';

    #addNoteTextbox{
        width: 80%;
        margin: 30px auto;
        display: block;
    }
}
.notes-container{
    height: calc(100vh - 16px);
    overflow-y: scroll;
    // max-width: 50%;
    

    .options-container{
        text-align: center;
        i{
            display: inline-block;
        }
    }

    .material-icons{
        cursor: pointer;
    }
}

html,body{
    margin:0;
    }