<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <table class="table table-striped table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th width="10%" scope="col">#</th>
        <th width="80%" scope="col">Notes</th>
        <th width="10%" scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of notes; index as i">
        <td scope="row">{{i+1}}</td>
        <td>
          <div>
            <span *ngIf="editMode != i">{{n.comment}}</span>
            <input type="text" (keypress)="updateNote($event,n)" [value]="n.comment" *ngIf="editMode == i" name="" id="">
          </div>
          <div>
            <small>{{n.dateTime | date:'dd/MM/yyyy HH:mm:ss'}}</small>
          </div>
        </td>
        <td><i (click)="editMode=i;"> E </i> <i (click)="deleteNote(n.id)"> X </i></td>
      </tr>
      <tr>
          <td scope="row">-</td>
          <td><input type="text" placeholder="Add new note.." (keypress)="addNote($event)" name="" id=""></td>
          <td>-</td>
        </tr>
    </tbody>
  </table>
  
</div>